body {
	margin : 0 auto;
	width: 1100px;
}

nav {
	margin: 0 auto;
	width: 600px;
}

nav .menu a:link {
	color: #000000;
}

nav .menu a:visited {
	color: #000000;
}

.sabmenuContainer {
	background-color: rgba(224, 222, 220, 0.5);
	border: 0px solid;
	border-radius: 2px;
	padding: 5px;
	color: 000;
}

.sabmenuContainer a:link{
	color: #000000;
}

.sabmenuContainer a:visited{
	color: #000000;
}

.sabmenuContainer ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.sabmenuContainer.active {
}

.sabmenuContainer .submenuSection {
	padding-left: 10px;
	float: left;
}

.furnitureTable {
	margin: 0 auto;
}

.furnitureTable .icon {
	display: inline-block;
	background-color: rgb(224, 222, 220);
	padding: 10px;
	box-shadow: 0 0 15px rgba(0,0,0,0.35);
	margin: 10px;
}

.furnitureTable .icon .header {
	background-color: #DBDBDB;
	border: 1px dashed #9E9E9E;
	text-align: center;
	margin-bottom: 10px;
}

.furnitureTable .icon .header a:link {
	color: #000;
	text-decoration: none;
}

.furnitureTable .icon .header a:visited {
	color: #000;
}

.furniture-slider .slick-prev:before{
	color : #000;
}

.furniture-slider .slick-next:before{
	color : #000;
}

.furniture-slider .image .content img {
	margin: 0 auto;
}

.furniture-view .description {
	margin-top: 20px;
	margin-bottom: 20px;
}

