<div>
	<div class="summary">
		<%= category.description %>
	</div>
	<% if ( furTable.length ) { %>
		<div class="furnitureList">
			<table class="furnitureTable">
				<% _.each( furTable, function( row ) { %>
					<tr>
						<% _.each( row, function( furniture ){ %>
							<td>
								<div class="icon" >
									<div class="header">
										<a href="#/catalogue/<%= category.id %>?id=<%=furniture.id%>" ><%= furniture.label %></a>
									</div>
									<div class="body">
										<% if (avatarMap[furniture.id]) {%>
											<a href="#/catalogue/<%= category.id %>?id=<%=furniture.id%>"><img src="<%= avatarMap[furniture.id].path %>"></img></a>
										<% } %>
									</div>
								</div>
							</td>
						<% }); %>
					</tr>
				<% }); %>
			</table>
		</div>
	<%  }%>

	
	<div>
</div>